/*

*{
    margin: 0;
    padding: 0;
}

html, body{
    height: 940px;
    width: 1920px;
    box-sizing: border-box;
}

body{
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(https://rockwellautomation.scene7.com/is/image/rockwellautomation/16x9-cyber-security-padlock.1280.png);
    background-color: white;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Times New Roman', Times, serif;
    justify-content: center;
    background-origin: content-box;
}

header{
    width: 1920px;
    height: 54px;
    background-color:navy;
}

#TH{
    color: white;
    top: 50%;
    left: 50%;
    font-size: 40px;
    transform: translate(90%, 12%);
}

main{
    height: 85%;
    width: 100%;
}

#Reg{
    width: 880px;
    height: 660px;
    background-color: white;
    top: 50%;
    left: 50%;
    transform: translate(50%, 10%);
    border: 2px solid lightskyblue;
    border-radius: 40px;
    box-shadow: 0px 0px 6px 4px rgba(240, 248, 255, 0.4);
}

#re{
    color: navy;
    font-size: 200%;
    text-align: center;
}

#em, #nm, #cn{
    border-radius: 6px;
    border: none;
    color: navy;
    font-size: 20px;
    width: 820px;
    height: 32px;
    background-color: rgb(240, 248, 255);
}

::placeholder{
    color: lightblue;
    font-family: 'Times New Roman', Times, serif;
}

label{
    color: navy;
    font-size: 40px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 26px;
}

#sb, #rst{
    border-radius: 8px;
    border: none;
    color: white;
    background-color: skyblue;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 24px;
    top: 50%;
    left: 50%;
    transform: translate(100%, 0%);
    width: 150px;
    height: 40px;
}

#frm{
    top: 50%;
    left: 50%;
    transform: translate(7%, 0%);
}

#btt{
    top: 50%;
    left: 50%;
    transform: translate(20%, 0%);
    justify-content: space-around;
}

#li{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 24px;
    color: skyblue;
}

a{
    text-decoration: none;
}

a:link{
    color: skyblue;
}

a:active{
    color: skyblue;
}

a:visited{
    color: navy;
}

a:hover{
    transition: 0.5s;
    color:dodgerblue
}

#rst:hover{
    transition: 1s;
    box-shadow: 0px 0px 2px 2px rgba(0, 136, 255, 0.2);
}

#sb:hover{
    transition: 1s;
    box-shadow: 0px 0px 2px 2px rgba(0, 136, 255, 0.2);
}

#rst:focus{
    transition: 1s;
    box-shadow: 0px 0px 2px 2px rgba(0, 136, 255, 0.2);
}

#sb:focus{
    transition: 1s;
    box-shadow: 0px 0px 2px 2px rgba(0, 136, 255, 0.2);
}

input:focus{
    outline-color: blue;
    outline-style: dashed;
}

#em:focus
{
    transition: 1s;
    box-shadow: 0px 0px 2px 2px rgba(0, 136, 255, 0.2);
}

#nm:focus{
    transition: 1s;
    box-shadow: 0px 0px 2px 2px rgba(0, 136, 255, 0.2);
}


#cn:focus{
    transition: 1s;
    box-shadow: 0px 0px 2px 2px rgba(0, 136, 255, 0.2);
}

*/

*{
    margin: 0;
    padding: 0;
}

html, body{
    height: auto;
    width: 1920px;
    background-color: rgb(15, 0, 70);
    background-size: cover;
    font-family: 'Times New Roman', Times, serif;
    justify-content: center;
    background-origin: content-box;

}

main{
    height: 920px;
    width: 1920px;
}

#Reg{
    width: 768px;
    height: 100%;
    background-color: white;
    top: 50%;
    left: 50%;
    transform: translate(75%, 2%);
    box-shadow: 0px, 0px, 2px, 6px, gray;
}

#re{
    color: navy;
    font-size: 200%;
    text-align: center;
}

#em, #fa, #cn{
    border: none;
    color: navy;
    font-size: 16px;
    width: 640px;
    height: 24px;
    background-color: white;
    border-bottom: 1px solid navy;
}

::placeholder{
    color: lightblue;
    font-family: 'Times New Roman', Times, serif;
}

label{
    color: navy;
    font-size: 28px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 26px;
}

#sb, #rst{
    border-radius: 8px;
    border: none;
    color: white;
    background-color: skyblue;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 22px;
    top: 50%;
    left: 50%;
    transform: translate(100%, 0%);
    width: 120px;
    height: 36px;
}

.file{
    position: absolute;
    display: inline-block;
}

.file input[type="file"]{
    opacity: 0;
}

.file::before{
    display: flexbox;
    justify-content: left;
    align-items: left;
    content: 'Seleccione el archivo';
    border: none;
    border-bottom: 1px solid navy;
    color: lightblue;
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
    width: 180px;
    height: 24px;
    background-color: white;
}

#fa::before{
    content: 'Seleccione el archivo';
}

#frm{
    top: 50%;
    left: 50%;
    transform: translate(7%, 0%);
}

#btt{
    top: 50%;
    left: 50%;
    transform: translate(20%, 0%);
    justify-content: space-around;
}

#li{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    color: skyblue;
    justify-content: space-between;
}

a{
    text-decoration: none;
}

a:link{
    color: skyblue;
}

a:active{
    color: skyblue;
}

a:hover{
    transition: 0.5s;
    color:dodgerblue
}

#rst:hover{
    transition: 1s;
    background-color: blue;
    box-shadow: 0px 0px 2px 2px rgba(0, 136, 255, 0.2);
}

#sb:hover{
    transition: 1s;
    box-shadow: 0px 0px 2px 2px rgba(0, 136, 255, 0.2);
    background-color: blue;
}

#rst:focus{
    transition: 1s;
    box-shadow: 0px 0px 2px 2px rgba(0, 136, 255, 0.2);
    background-color: blue;
}

#sb:focus{
    transition: 1s;
    box-shadow: 0px 0px 2px 2px rgba(0, 136, 255, 0.2);
    background-color: blue;
}

input:focus{
    outline: none;
}

#em:focus
{
    transition: 1s;
    box-shadow: 0px 0px 2px 2px rgba(0, 136, 255, 0.2);
}

#fa:focus{
    transition: 1s;
    box-shadow: 0px 0px 2px 2px rgba(0, 136, 255, 0.2);
}


#cn:focus{
    transition: 1s;
    box-shadow: 0px 0px 2px 2px rgba(0, 136, 255, 0.2);
}