@import url('usuarios.css');

main{
    max-width: 1600px;
    margin-left: 120px;
}

.container{
    max-width: 1600px;
    display: inline-block;
    margin-left: 80px;
    margin-bottom: 800px;
}

.container h1, .container h2{
    font-family: "Source Code Pro", monospace;
    color: navy;
    margin-top: 16px;
    margin-bottom: 16px;
}

.container h1{
    font-size: 24px;
}

.container p{
    font-family: "Source Code Pro", monospace;
    line-height: 1.5;
    overflow-wrap: break-word;
    font-size: 14px;
}

.imagen img{
    margin-left: 540px;
    border-radius: 16px;
    margin-top: 128px;
    transition: all 0.5s;
}

.imagen img:hover{
    transform: scale(1.2);
    box-shadow: 0 0 4px slategrey;
    transition: all 0.5s;
}