@import url('usuarios.css');

*{
    margin: 0;
    padding: 0;
}


body{
    font-family: 'Times New Roman', Times, serif;
    background-color: white;
    /* background: linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 71%, rgba(0,44,255,1) 100%); */
    height: 100vh;
}

.Registro{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0px 0px 4px slateblue;
}

.Registro h1{
    padding-top: 50px;
    padding-bottom: 10px;
    text-align: center;
    font-size: 40px;
    color: cornflowerblue;
}

.Registro2{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -45%);
    width: 500px;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0px 0px 4px slateblue;
}

.Registro2 h1{
    padding-top: 50px;
    padding-bottom: 10px;
    text-align: center;
    font-size: 40px;
    color: cornflowerblue;
}

#N, #C, #ID, #P, #P-New, #P-New2{
    cursor: pointer;
    color: midnightblue;
    outline: none;
    position: relative;
    width: 400px;
    margin-left: 47px;
    margin-top: 10px;
    margin-bottom: 10px;
    border: none;
    background: none;
    border-bottom: 1px solid blue;
    transition: 0.5s;
}

#N:hover{
    transition: 1s;
    border-bottom: 1px solid cornflowerblue;
}

#C:hover{
    transition: 1s;
    border-bottom: 1px solid cornflowerblue;
}

#ID:hover{
    transition: 1s;
    border-bottom: 1px solid cornflowerblue;
}

#P:hover{
    transition: 1s;
    border-bottom: 1px solid cornflowerblue;
}

#P-New:hover{
    transition: 1s;
    border-bottom: 1px solid cornflowerblue;
}

#P-New2:hover{
    transition: 1s;
    border-bottom: 1px solid cornflowerblue;
}

#ID:read-only{
    background-color: lightsteelblue;
    border: none;
    cursor: not-allowed;
    color: navy;
}

.label{
    color: cornflowerblue;
    margin-left: 47px;
    margin-top: 10px;
    margin-bottom: 10px;
}

input::placeholder{
    color: deepskyblue;
    font-family: Arial, Helvetica, sans-serif;
}

#registro{
    outline: none;
    position: relative;
    border: none;
    background-color: cornflowerblue;
    color: azure;
    border-radius: 4px;
    width: 100px;
    height: 40px;
    align-items: center;
    left: 50%;
    transform: translate(-40%, 0%);
    margin-bottom: 80px;
    transition: 1s;
}

#registro:hover{
    background-color:mediumblue;
    transition: 1s;
    width: 110px;
    height: 50px;
    border-radius: 8px;
    box-shadow:01px 0px 8px 0px cornflowerblue;
}

.Foto input{
    display: none;
}

.Foto label{
    cursor: pointer;
    text-align: center;
    display: block;
    border: 1px solid cornflowerblue;
    border-radius: 4px;
    color: lightskyblue;
    margin-left: 47px;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 60px;
    padding: 8px 10px;
    transition: 1s;
}

.Foto label:hover{
    border: 1px solid navy;
    transition: 1s;
}


header{
    width: 100vw;
    background-color:dodgerblue;
}

#link{
    text-align: center;
    padding-top: 16px;
    padding-bottom: 32px;
    
}

a{
    text-decoration: none;
    color: dodgerblue;
}

a:link{
    color: skyblue;
}

a:active{
    color: skyblue;
}

a:hover{
    transition: 0.5s;
    color:blue;
}

#idLabel{
    color: cornflowerblue;
    margin-left: 47px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-right: 16px;
}

header{
    width: 100vw;
    background-color:dodgerblue;
}

#SIMP{
    float: left;
}


#SIMP img{
    height: 55px;
    width: 55px;
    position: relative;
}

#Contenedor{
    position: relative;
}

#Contenedor ul{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serifL;
    color: aliceblue;
    font-size: 20px;
    text-decoration: none;
    list-style: none;
    display: grid;
    padding-left: 5px;
    padding-right: 50px;
}

.lista{
    position: absolute;
}

.lista > li{
    float: left;
    width: 30%;
    text-align: center;
}

li ul{
    display: none;
}

li:hover > ul{
    display: block;
    border: none;
    background-color: NAVY;
    color: aliceblue;
}

#contenedor a:hover{
    background-color: aliceblue;
    color: blue;
    transition: 1s;
}

#contenedor a:focus{
    background-color: aliceblue;
    color: blue;
    transition: 1s;
}

#contenedor ul{
    list-style: none;
    height: 100%;
}

.CI{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-45%, -80%);
    width: 640px;
    text-align: center;
}

.CI #c{
    font-size: 36px;
    color: lightskyblue;
    font-family: "Source Code Pro", monospace;
}

.CI #c2{
    font-size: 36px;
    color: skyblue;
    font-family: "Source Code Pro", monospace;
}

.link{
    font-size: 36px;
    text-decoration: none;
    color: dodgerblue;
    transition: 0.5s;
    font-family: "Source Code Pro", monospace;
}

span{
    font-size: 36px;
    font-family: "Source Code Pro", monospace;
    color: skyblue;
}

.link:link{
    color: skyblue;
}

.link:active{
    color: skyblue;
}

.link:hover{
    color: mediumblue;
    transition: 0.5s;
    font-size: 38px;
}

h5{
    font-family: "Source Code Pro", monospace;
    color: slateblue;
    transition: 0.5s;
}

h5:hover{
    transform: scale(1.1);
    transition: 0.5s;
}