@import url('usuarios.css');

main{
    max-width: 1600px;
    margin-left: 120px;
}

.container{
    max-width: 1600px;
    display: inline-block;
    margin-left: 80px;
}

.container h1, .container h2{
    font-family: "Source Code Pro", monospace;
    color: navy;
    margin-top: 16px;
    margin-bottom: 16px;
}

.container h1{
    font-size: 24px;
}

.container p{
    font-family: "Source Code Pro", monospace;
    line-height: 1.5;
    overflow-wrap: break-word;
    font-size: 14px;
}
